body {
  margin: 0;
  padding:0;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
}
.container {
  width: 300px;
  height:500px; 
  background-color: rgb(44, 220, 247);
}
.textfield{
  background-color:pink;
}
